.mat-card{
  width: 300px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  .mat-input-element:disabled{
    color: black;
  }
}

.mat-form-field{
  margin-bottom: 2px;
}

.card-style{
  .mat-form-field{
    width: 100%;
  }
}


