.mat-card{
  width: 300px;
  background: rgba(255, 230, 179, 0.5);
}

.example-container {
  display: flex;
  flex-direction: column;
  .mat-input-element:disabled{
    color: black;
  }
}

.mat-form-field{
  margin-bottom: 2px;
}


