<ng-container *ngIf="jobTemplatesEstimate.length > 0">
  <div style="width: 98%; float: right">
    <mat-card-title style="font-size: 16px;font-weight: bold; padding-bottom: 7px">Szablony robót</mat-card-title>
    <ng-container *ngFor="let jobTemplateEstimate of jobTemplatesEstimate">
      <app-job-template-estimate-raw style="width: 98%; float: right"
                                          [jobTemplateEstimate]="jobTemplateEstimate">
      </app-job-template-estimate-raw>
    </ng-container>
  </div>
</ng-container>
