.example-spacer {
  flex: 1 1 auto;
}

.span-style{
  padding-right: 30px;
}

.tool-bar-spans{
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Audiowide', sans-serif;
  font-size: 23px;
  .mat-button{
    font-size: 15px;
  }
  .mat-button:hover{
    color: black;
    filter: brightness(50%);
  }
}

.tool-bar-spans{
  height: 75px;
}

.padding-30{
  padding-left: 30px;
  padding-right: 30px;
}
