<mat-toolbar color="primary" class="tool-bar-spans">
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">book</mat-icon>
  <span class="span-style">Estimate</span>
  <button mat-button class="tool-bar-spans" routerLink="clients">Klienci</button>
  <button mat-button class="tool-bar-spans" routerLink="estimates">Kosztorysy</button>
  <button mat-button class="tool-bar-spans" routerLink="job-templates">Szablony robót</button>
  <button mat-button class="tool-bar-spans" routerLink="materials">Materiały</button>
  <button mat-button class="tool-bar-spans" routerLink="services">Usługi</button>
  <button mat-button class="tool-bar-spans" routerLink="units">Jednostki</button>
  <span class="example-spacer"></span>

  <span>
    <button mat-button (click)="logout()" class="tool-bar-spans">
      Wyloguj

    </button>
  </span>

</mat-toolbar>
