<app-estimate-tool-bar
  [jobTemplates]="jobTemplates"
  [serviceTemplates]="serviceTemplates"
  [materialTemplates]="materialTemplates"
  [clients]="clients"
  [units]="units"
  (filter)="filter($event)"
  (estimateEmitter)="saveNewEstimate($event)"
></app-estimate-tool-bar>
<div class="contentDiv">
  <ng-container *ngFor="let estimate of filterEstimates()">
    <app-estimate-raw [estimate]="estimate" style="margin: 10px; cursor: pointer"
                      (click)="estimateClick($event,estimate)">
    </app-estimate-raw>
  </ng-container>
</div>

