/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.data-mat-card{
  background: rgba(255, 230, 179, 0.5);
  margin: 25px 25px 0px;
  cursor: pointer!important;
}

.form-sheet-container {
  display: flex;
  flex-direction: column;
  .mat-form-field{
    padding-top: 8px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
}

.tool-bar-color{
  background: #283593;
  color: white;
}

*{
  font-family: 'Audiowide', sans-serif;
  font-size: 16px;
}


.tool-bar-spans{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 23px;
  .mat-button{
    font-size: 15px;
  }
  .mat-button:hover{
    color: black;
    filter: brightness(90%);
  }
}


.mat-form-field-appearance-legacy .mat-form-field-infix{
  border: 0px;
}
