<div>
  <mat-toolbar class="tool-bar-spans tool-bar-color">
    <div style="width: 100%; padding-top: 15px">
      <button mat-button class="tool-bar-spans" (click)="addNewClient()">Dodaj klienta</button>
      <mat-icon style="float: right; padding-top: 5px; margin-right: 15px" class="icon-style expandIcon">search</mat-icon>
      <mat-form-field class="mat-filed-style" style="float: right; padding-right: 5px; width: 25%">
        <input ngModel="" (ngModelChange)="filterClient($event)" matInput placeholder="Szukaj">
      </mat-form-field>
    </div>
  </mat-toolbar>
</div>
<div class="contentDiv">
  <div class="user-card-container">
    <ng-container *ngIf="filterClients() && filterClients().length > 0">
    <div *ngFor="let client of filterClients(); let i = index">
      <app-raw-client [client]="client" class="client-example-card"
                      (click)="onMatCardClickEvent(client)"></app-raw-client>
    </div>
    </ng-container>
    <mat-card style=" width: 50%; margin-top: 15px; margin-right: auto; margin-left: auto"
              *ngIf="filterClients() && filterClients().length == 0">
      <h3 style="text-align: center">Nie znaleziono żadnych kientów</h3>
    </mat-card>
  </div>
</div>


