@import "src/variable";
.data-mat-card {
  background: rgba(255, 230, 179, 0.5);
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer !important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  input{
    cursor: pointer !important;
  }
}

.mat-filed-style{
  margin-top: 7px; margin-left: 10px; margin-right: 7px
}

.data-mat-card {
  background: rgba(255, 230, 179, 0.5);
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer !important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  input{
    cursor: pointer !important;
  }
}

