<mat-card>
  <form [formGroup]="jobTemplateForm">
    <div class="form-sheet-container">
      <mat-form-field class="mat-filed-style">
        <input formControlName="name" matInput placeholder="Nazwa">
        <mat-error *ngIf="jobTemplateForm.get('name').hasError('required')">Pole jest wymagane</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-filed-style">
        <mat-select formControlName="unit" placeholder="Jednostka" [compareWith]="compareObjects">
          <mat-option *ngFor="let unit of units" [value]="unit">
            <h4 mat-line>{{unit.bottom}} <sup>{{unit.top}}</sup></h4>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="jobTemplateForm.get('unit').hasError('required')">Pole jest wymagane</mat-error>
      </mat-form-field>

      <div class="mat-filed-style" style="padding-bottom: 20px">
        <button mat-button class="tool-bar-spans" (click)="addMaterial()">
          <mat-icon class="example-icon" aria-hidden="false" style="padding-bottom: 3px">add</mat-icon>
          Dodaj materiał
        </button>
        <button mat-button class="tool-bar-spans" (click)="addWork()">
          <mat-icon class="example-icon" aria-hidden="false" style="padding-bottom: 3px">add</mat-icon>
          Dodaj prace
        </button>
      </div>

      <mat-card *ngIf="getMarkedMaterial().length>0">
        <mat-card-title>Materiały</mat-card-title>
        <table formArrayName="materials"  mat-table [dataSource]="getMarkedMaterial()" class="mat-elevation-z8" style="width: 100%">

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <ng-container matColumnDef="material">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nazwa</th>
            <td mat-cell *matCellDef="let element, let index = index">
              <mat-card class="example-card data-mat-card" (click)="deleteElement(element,index)">
                <div class="card-container" *ngIf="element">
                  <mat-form-field style="width: 100%">
                    <input matInput readonly style="border: 0px">
                    <h4 style="margin: 0px; float: left">{{element.material.name}}</h4>
                    <span style="float: right">
                              <h4 style="margin: 0px">{{element.material.price}}zł / {{element.material.unit.bottom}}
                                <sup>{{element.material.unit.top}}</sup>
                              </h4>
                            </span>
                  </mat-form-field>
                </div>
              </mat-card>
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th style="width: 50px; text-align: center" mat-header-cell *matHeaderCellDef>Wartość</th>
            <td mat-cell *matCellDef="let element; let index = index"  [formGroupName]="index">
              <mat-form-field class="mat-filed-style" style="float: left; text-align: center; width: 100%">
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" formControlName="value" matInput>
              </mat-form-field>
              <h4 style="margin: 0px; text-align: center;float: right; width: 50px"> {{element.material.unit.bottom}}
                <sup>{{element.material.unit.top}}</sup>
              </h4>
            </td>
          </ng-container>
        </table>
      </mat-card>

      <mat-card *ngIf="getMarkedWorks().length>0">
        <mat-card-title>Materiały</mat-card-title>
        <table formArrayName="materials"  mat-table [dataSource]="getMarkedWorks()" class="mat-elevation-z8" style="width: 100%">

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <ng-container matColumnDef="material">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let element, let index = index">
              <mat-card class="example-card data-mat-card" (click)="deleteElement(element,index)">
                <div class="card-container" *ngIf="element">
                  <mat-form-field style="width: 100%">
                    <input matInput readonly style="border: 0px">
                    <h4 style="margin: 0px; float: left">{{element.material.name}}</h4>
                    <span style="float: right">
                              <h4 style="margin: 0px">{{element.material.price}}zł / {{element.material.unit.bottom}}
                                <sup>{{element.material.unit.top}}</sup>
                              </h4>
                            </span>
                  </mat-form-field>
                </div>
              </mat-card>
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th style="width: 50px;" mat-header-cell *matHeaderCellDef>Wartość</th>
            <td mat-cell *matCellDef="let element; let index = index"  [formGroupName]="index">
              <mat-form-field class="mat-filed-style" style="float: left; text-align: center; width: 100%">
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" formControlName="value" matInput>
              </mat-form-field>
              <h4 style="margin: 0px; text-align: center;float: right; width: 50px"> {{element.material.unit.bottom}}
                <sup>{{element.material.unit.top}}</sup>
              </h4>
            </td>
          </ng-container>
        </table>
      </mat-card>

    </div>
    <div class="mat-filed-style">
      <button mat-button (click)="bottomSheetRef.dismiss()">Anuluj</button>
      <button mat-button (click)="saveJobTemplate()" [disabled]="!jobTemplateForm.valid">Zapisz</button>
    </div>
  </form>
</mat-card>
