<div class="table-class">
  <mat-form-field style="width: calc(55% - 75px); padding-right: 10px">
    <input [value]="materialEstimate.name" matInput placeholder="Nazwa" style="text-align: left">
  </mat-form-field>

  <mat-form-field style="width: calc(8% - 10px)">
    <input [value]="materialEstimate.price" matInput placeholder="Koszt">
  </mat-form-field>
  <mat-form-field style="width: 25px; padding-right: 5px">
    <input value="zł" matInput readonly>
  </mat-form-field>

  <mat-form-field style="width: calc(8% - 10px); padding-right: 5px">
    <input [value]="materialEstimate.value" matInput placeholder="Nakład" >
  </mat-form-field>

  <mat-form-field style="width: calc(10% - 5px); padding-right: 5px">
    <input value=" " matInput placeholder="Jednostka" readonly
           style="width:calc(100% - 36px); text-align: right">
    <div style="float: right; height: 18px">
      <div style="padding-bottom: 5px">{{materialEstimate.unit.bottom}}
        <sup>{{materialEstimate.unit.top}}</sup>
      </div>
    </div>
  </mat-form-field>

  <mat-form-field style="width: calc(10% - 5px); padding-right: 5px">
    <input [value]="materialEstimate.sumValue" matInput placeholder="Suma nakładów" readonly
           style="width:calc(100% - 36px); text-align: right">
    <div style="float: right; height: 18px">
      <div style="padding-bottom: 5px">{{materialEstimate.unit.bottom}}
        <sup>{{materialEstimate.unit.top}}</sup>
      </div>
    </div>
  </mat-form-field>

  <mat-form-field style="width: calc(10% - 5px);">
    <input [value]="materialEstimate.sumPrice" matInput placeholder="Suma kosztów" readonly
           style=" text-align: right">
  </mat-form-field>
  <mat-form-field style="width: 25px; padding-right: 5px">
    <input value="zł" matInput readonly>
  </mat-form-field>
</div>
