<app-hidden-service-toolbar></app-hidden-service-toolbar>
<div class="contentDiv">
  <ng-container *ngIf="services && services.length > 0">
    <div *ngFor="let service of services; let i = index">
      <app-raw-service [serviceTemplate]="service" [isHidden]="true" style="float: left; width: calc(100% - 100px)"></app-raw-service>
      <button mat-button (click)="displayService(service)" style="float: left; width: 75px; height: 75px; padding:0; margin-top: 20px;">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </ng-container>
  <mat-card class="data-dont-find-hidden" style=" width: 50%; margin-top: 15px; margin-right: auto; margin-left: auto;" *ngIf="services && services.length == 0">
    <h3 style="text-align: center">Nie znaleziono żadnych usług</h3>
  </mat-card>
</div>
