<div class="card-container dialog-button-max-size" id="container">
  <mat-form-field>
    <input matInput value="{{client.firstName}} {{client.lastName}}" readonly class="clientName">
  </mat-form-field>
  <div class="content">
    <div class="content2">
      <button mat-raised-button color="accent" (click)="showEstimates()">Pokaż kosztorysy</button>
      <button mat-raised-button color="primary" (click)="editClient()">Edytuj</button>
      <button mat-raised-button color="warn" (click)="deleteClient()">Usuń</button>
    </div>
  </div>
</div>
