<mat-card style="margin-bottom: 10px" class="table-class">
  <form>
    <div>
      <div style="float: left; width: 45px; height: 50px">
        <button mat-button class="tool-bar-spans expandIcon" style="float: right; width: 100%; height: 100%" (click)="expand()">
          <mat-icon *ngIf="!opened" class="icon-style expandIcon"  >keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="opened" class="icon-style expandIcon" >keyboard_arrow_up</mat-icon>
        </button>
      </div>
      <mat-form-field [ngStyle]="nameStyle()" class="mat-filed-style" style="padding-right: 10px; padding-top: 16px">
        <input [value]="estimate.name" style="font-weight: bold;" readonly matInput placeholder="Nazwa">
      </mat-form-field>


      <mat-form-field *ngIf="isClient()" class="mat-filed-style" style="width: calc(30% - 15px); float: right;; padding-top: 16px">
        <input [value]="estimate.client.firstName + ' ' + estimate.client.lastName" readonly matInput
               placeholder="Klient">
      </mat-form-field>
    </div>
    <div *ngIf="opened">
      <app-job-templates-estimate-raw
        [jobTemplatesEstimate]="estimate.jobTemplates"
      >
      </app-job-templates-estimate-raw>

      <app-abstracts-materials-estimate-raw
        [abstractEstimateMaterials]="estimate.materials"
        [title]="materialsTitle"
      >
      </app-abstracts-materials-estimate-raw>

      <app-abstracts-materials-estimate-raw
        [abstractEstimateMaterials]="estimate.works"
        [title]="workTitle"
      >
      </app-abstracts-materials-estimate-raw>
    </div>
    <mat-form-field style="width: calc(100% - 30px)">
      <input readonly style="font-weight: bold; text-align: right" matInput [value]="estimate.sumPrice"
             placeholder="Całkowita suma kosztów:">
    </mat-form-field>
    <mat-form-field style="width: 20px; cursor: default; padding-right: 5px">
      <input value="zł" matInput readonly style="cursor: default; text-align: center">
    </mat-form-field>
  </form>
</mat-card>
